body {
    background-color: rgb(227, 159, 233);
}

button{
    height: 200px;
    width: 250px;
    border-radius: 25px;
    background-color: rgb(205, 71, 223);
    color: white;
    margin: 30px;
    border: 2px solid white;
    transition: 0.02;
    font-size: 2em;
}

button:hover {
    background-color: white;
    color: rgb(251, 125, 251);
    border: 2px solid rgb(237, 193, 247);
    transition: 150ms;
} 
