body {
    background-color: rgb(241, 134, 241);
}

button {
    height: 200px;
    width: 250px;
    border-radius: 25px;
    background-color: rgb(231, 165, 228);
    color: white;
    margin: 30px;
    border: 2px solid white;
    transition: 0.02;
    font-size: 2em;
}

button:hover {
    background-color: white;
    color: rgb(149, 80, 156);
    border: 2px solid rgb(187, 77, 193);
    transition: 150ms;
}
