body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #956d93;
}

header {
  background-color: #e58ce0;
  color: rgb(192, 114, 174);
  padding: 20px 0;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}
nav ul li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

section {
  padding: 20px;
  margin: 10px auto;
  width: 80%;
  background-color: rgb(219, 122, 213);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

section img {
  display: block;
  margin: 10px 0;
  max-width: 100%;
}
footer {
    text-align: center;
    padding: 10px;
    background-color: #cd90cf;
    color: white;
}
