body {
  font-family: "Roboto", sans-serif;
  background-color: #d194d6;
  color: black;
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 2.5em;
  font-weight: bold;
}

label {
  margin-right: 10px;
  font-size: 1.2em;
}

input {
  width: 270px;
  padding: 12px;
  margin: 10px;
  font-size: 1.1em;
  border: 4px solid #e3e5c8;
  border-radius: 8px;
  background-color: #ffffff;
  color: #714c0a;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}
.buttons {
  margin: 20px 0;
}

button {
  background-color: #7e4cbb;
  color: white;
  border: none;
  padding: 10px 25px;
  margin: 10px;
  font-size: 1.2em;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: rgb(214, 137, 242);
  color: black;
  box-shadow: 0px 4px 15px rgb(219, 158, 220);
}

.footer {
  font-weight: bold;
  color: purple;
  font-size: 1.5em;
  margin-top: 40px;
}

